
# PlanAhead Generated physical constraints 
NET "an[0]" LOC = F12;
NET "an[1]" LOC = J12;
NET "an[2]" LOC = M13;
NET "an[3]" LOC = K14;
NET "clk" LOC = B8;
NET "dp" LOC = N13;
NET "pb" LOC = P11;
NET "resetn" LOC = G12;
NET "seg[0]" LOC = M12;
NET "seg[1]" LOC = L13;
NET "seg[2]" LOC = P12;
NET "seg[3]" LOC = N11;
NET "seg[4]" LOC = N14;
NET "seg[5]" LOC = H12;
NET "seg[6]" LOC = L14;
#Created by Constraints Editor (xc3s100e-cp132-5) - 2013/12/08
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50%;
