
# PlanAhead Generated physical constraints 

NET "clk" LOC = B8;
NET "led0" LOC = M5;
NET "led1" LOC = M11;
NET "led2" LOC = P7;
NET "led3" LOC = P6;
NET "led4" LOC = N5;
NET "led5" LOC = N4;
NET "led6" LOC = P4;
NET "led7" LOC = G1;
NET "resetn" LOC = G12;
